/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/*** END CSS RESET ***/

body {
	background-color: #000;
	color: #fff;
	min-width: 280px;
	text-align: center;
}

h1 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: 'Bungee', cursive;
	font-size: 2.5em;
}

h2 {
	font-family: sans-serif;
	font-size: .8em;
	letter-spacing: .25em;
}

a:link, a:visited,
a:hover, a:active {
	color: #fff;
}

p {
	margin-top: 20px;
	margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  width: 75px;
  height: 75px;
  vertical-align: middle;
  text-align: center;
}

form {
	padding-top: 40px;
}

button {
	border: 1px solid white;
	color: white;
	outline: 0;
}

.btn {
	border: 1px solid #fff;
	cursor: default;
	user-select: none;
}

.left-border {
  border-left: 3px solid rgb(117, 219, 230);
}

.top-border {
  border-top: 3px solid rgb(117, 219, 230);
}

.right-border {
  border-right: 3px solid rgb(117, 219, 230);
}

.bottom-border {
  border-bottom: 3px solid rgb(117, 219, 230);
}

/* Marker Classes */

/* This class is for the square that the marker
 		will be drawn on
*/
.div-square {
	width: 50px;
	height: 50px;
	position: relative;
	margin: auto;
}

.x-line1 {

  width: 100%;
  height: 5px;
  background: white;
	position: absolute;
	top: 50%;
	transition: transform .5s cubic-bezier(.87,1.91,.68,.8);
}

.x-line2 {
  width: 100%;
  height: 5px;
  background: white;
	position: absolute;
	top: 50%;
	transition: transform .5s cubic-bezier(.87,1.91,.68,.8);
}

.line1-end {
  transform: rotate(0.125turn);

}

.line2-end {
  transform: rotate(-0.125turn);

}


.circle-small-size {
	width: 0;
	height: 0;
	border-radius: 50%;
	border: 5px solid #f25ce3;

	position: absolute;
	top: 50%;
	margin-left: 25px;
	transform: translate(-5px, -50%);
	transition: width .5s cubic-bezier(.87,1.91,.68,.8),
							height .5s cubic-bezier(.87,1.91,.68,.8),
							margin .5s cubic-bezier(.87,1.91,.68,.8);

}

.circle-full-size {
	width: 75%;
	height: 75%;
	margin-left: 5px;
}

.settings-btn {
	opacity: 0;
	transition: opacity 1.5s;
	display: table;
	margin: 20px auto 0 auto;
	width: 100px;
	height: 35px;
	border: 3px solid #fff;
	line-height: 35px;
}

.visible {
	opacity: 1;
}



.btn:active {
	color: #000;
	background-color: #fff;
}


/* Overlay Settings Styles */

.table-container {
	position: relative;
	display: inline-block;
	margin-top: 15px;
}

.settings-box {
	width: 250px;
	height: 250px;
	background: rgba(0, 0, 0, .8);
	position: absolute;
	z-index: 5;
	transition: margin 1s cubic-bezier(.43,-.3,.53,.7);
	transform: translateX(-10px);
}

.move-settings {
	margin-top: -400px;
}

.settings-overlay {
	position: relative;

}

.message-box {
	color: #fff;
	font-size: 2em;
	line-height: 100px;
	position: absolute;
	width: 250px;
	height: 100px;
	background-color: rgba(0, 0, 0, .8);
	left: 50%;
	margin-top: -700px;
	transform: translateX(-50%);
	transition: margin 1s cubic-bezier(.43,-.3,.53,.7);
}

.show-message {
	margin-top: -225px;
}

.setting-btn {
	width: 80px;
	height: 25px;
	margin-right: 10px;
	margin-left: 10px;
}

.active-setting-btn {
	border: 3px solid rgb(117, 219, 230);
}

.start-btn {
	margin-top: 20px;
	width: 100px;
	height: 35px;
	border: 3px solid #fff;
}

/* Winning Lines Styles */

.begin-line-horizontal {
	width: 5px;
	height: 5px;
	position: absolute;
	background-color: #edf98b;
	transition: width .5s;
	transform: translateX(-10px);

}

.begin-row0 {
	top: 15%;
}

.begin-row1 {
	top: 50%;
}

.begin-row2 {
	top: 85%
}

.end-line-horizontal {
	width: 250px;
}

.begin-line-vertical {
	width: 5px;
	height: 5px;
	position: absolute;
	background-color: #edf98b;
	transition: height .5s;
	transform: translateY(-20px);

}

.begin-col0 {
	top: 10%;
	left: 15%;
}

.begin-col1 {
	top: 10%;
	left: 48%;
}

.begin-col2 {
	top: 10%;
	left: 82%
}

.end-line-vertical {
	height: 225px;
}

.begin-diag-to-right {
	width: 5px;
	height: 5px;
	position: absolute;
	background-color: #edf98b;
  transform: rotate(45deg);
	transform-origin: left;
	top:0%;
	transition: width .5s;
}

.end-diag-to-right {
	width: 300px;
}

.begin-diag-to-left {
	width: 5px;
	height: 5px;
	position: absolute;
	background-color: #edf98b;
	transform: rotate(135deg);
	transform-origin: left;
	top: 0%;
	left: 100%;
	transition: width .5s;
}

.end-diag-to-left {
	width: 300px;
}
